/* General Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* HTML Styles */
html {
  scroll-behavior: smooth;
  width: 100vw;
}
/* Body Styles */
body {
  background-color: #0f0f0f;
  font-family: "Georgia", serif; /* Added serif as fallback font */
  color: white;
}
/* Headings Styles */
.headings {
  font-size: 3rem;
  text-decoration: underline; /* Simplified text-decoration property */
  text-decoration-color: #009100;
}

/* Media Queries */
@media (max-width: 615px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 770px) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: 57.25%;
  }
}
/* Utilities Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*NavBar */
.nav {
  background-color: #009100;
  color: white;
  padding: 1rem; /* Size of banner */
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav li {
    margin: 5px 0; 
  }
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5rem; 
  font-family: "Georgia";
  text-shadow: 2px 2px 4px #000000;
}
.nav a:hover {
  color: black;
}


/*Home Section */
#Home {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (max-width: 820px) {
  #Home {
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .homephoto {
    max-width: 50%;
  }
  .home-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  .haircuts {
    width: 2em;
    height: 20%;
  }
}
@media (max-width: 440px) {
  #Home {
    margin-top: 5rem;
  }
}

.homephoto {
  width: 100%;
  max-width: 20%;
  height: auto;
  border-radius: 50%;
}
.home-header {
  justify-content: center; 
  align-items: center;
}
.home-heading {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.slideshow-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  width: 100vw;
  max-width: 1200px; 
  max-height: 630px;
}
.haircuts {
  transition: opacity 1s ease-in-out;
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 100%; 
  max-height: 100%;
}
.prev {
  background-color: #009100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.next {
  background-color: #009100;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}


/* Location */
#Location {
  margin-top: 5rem;
  background-image: url('/OutsideShop.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: 1px 1px 2px black;
}


/* Services */
#Services {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.services-content {
  padding: 0;
  list-style: none;
}
.services-content li {
  padding: 2rem;
  width: 100%; 
  font-size: 1.5rem;
  text-align: left; 
  border-bottom: 1px solid #e0e0e0;
}
.service-category {
  margin-bottom: 2rem; 
}
.service-title {
  font-weight: bold;
}


/*Contact Section */
#Contact {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  margin-bottom: 10rem;
}
.contact-text {
  margin-top: 5rem;
  font-size: 1.5rem; 
  color: white;
}

@media (max-width: 500px) {
  .contact {
    width: 100%; /* Adjust as needed */

  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-top: 20px;
}
.contact-form-name, .contact-form-email, .contact-message {
  margin-bottom: 10px;
  padding: 1rem;
  height: 4rem;
  background-color: #282828;
}
.contact-message {
  height: 12rem;
  padding: 2rem;
}
.contact-submit {
  margin-top: 1rem;
  padding: 0rem 1rem; 
  background-color: #333; 
  color: white;
  cursor: pointer;
}
.contact-submit:hover {
  color: #b8f5c8; 
}


/* Footer */
#Footer {
  background-color: #009100;
  color: white;
  padding: 1rem; 
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links {
  display: flex;
}
.footer-info {
  color: black;
  font-weight: 1000;
}